/* universal selector*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #17324d;
    background-color: white;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* header */

.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}


/* navbar */

.navbar {
    max-width: 1200px;
    margin: auto;

    height: 75px;

    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #087ea4;
    font-size: 24px;
}


/* NAV LINKS */

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #17324d;
    font-size: 15px;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #087ea4;
}


/* NAV BUTTON */

.appointment-button {
    background-color: #087ea4;
    color: white;

    padding: 10px 18px;

    border-radius: 5px;

    font-size: 14px;

    transition: 0.3s;
}

.appointment-button:hover {
    background-color: #05627f;
}


/* HERO section*/

.hero {
    max-width: 1200px;
    min-height: 600px;

    margin: auto;

    padding: 70px 20px;

    display: flex;
    align-items: center;

    gap: 50px;
}

.hero-content {
    flex: 1;
}

.small-heading {
    color: #087ea4;

    font-size: 14px;
    font-weight: bold;

    letter-spacing: 1px;

    margin-bottom: 15px;
}

.hero h1 {
    font-size: 55px;
    line-height: 1.1;

    margin-bottom: 20px;
}

.hero h1 span {
    color: #087ea4;
    display: block;
}

.hero-content > p:not(.small-heading) {
    color: #64748b;

    max-width: 550px;

    font-size: 17px;

    margin-bottom: 30px;
}


/* HERO BUTTONS */

.hero-buttons {
    display: flex;
    gap: 15px;

    margin-bottom: 35px;
}

.primary-button,
.secondary-button {
    display: inline-block;

    padding: 12px 22px;

    border-radius: 5px;

    font-weight: bold;

    transition: 0.3s;
}

.primary-button {
    background-color: #087ea4;
    color: white;
}

.primary-button:hover {
    background-color: #05627f;
    transform: translateY(-3px);
}

.secondary-button {
    border: 2px solid #087ea4;
    color: #087ea4;
}

.secondary-button:hover {
    background-color: #087ea4;
    color: white;
}


/* HOSPITAL INFORMATION */

.hospital-info {
    display: flex;
    gap: 45px;
}

.hospital-info h3 {
    color: #087ea4;
    font-size: 25px;
}

.hospital-info p {
    color: #64748b;
    font-size: 13px;
}


/* HERO IMAGE */

.hero-image {
    flex: 1;

    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 480px;
    height: 520px;

    object-fit: cover;

    border-radius: 20px;

    animation: doctorMove 4s ease-in-out infinite;
}


/* ANIMATION */

@keyframes doctorMove {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }

}


/* COMMON SECTION*/

.about,
.services,
.departments,
.doctors,
.facilities,
.testimonials,
.contact {
    padding: 90px 20px;
}

.section-heading {
    max-width: 700px;

    margin: 0 auto 50px;

    text-align: center;
}

.section-title {
    color: #087ea4;

    font-size: 13px;

    font-weight: bold;

    letter-spacing: 1px;

    margin-bottom: 10px;
}

.section-heading h2 {
    font-size: 38px;

    margin-bottom: 12px;
}

.section-heading > p:last-child {
    color: #64748b;
}


/* ABOUT */

.about {
    max-width: 1200px;
    margin: auto;

    display: flex;
    align-items: center;

    gap: 60px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    height: 420px;

    object-fit: cover;

    border-radius: 15px;
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 38px;

    line-height: 1.2;

    margin-bottom: 20px;
}

.about-content h2 span {
    color: #087ea4;
}

.about-content p {
    color: #64748b;

    margin-bottom: 15px;
}

.about-content .primary-button {
    margin-top: 15px;
}


/* SERVICES */

.services {
    background-color: #f1f9fc;
}

.service-container {
    max-width: 1200px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 25px;
}

.service-card {
    background-color: white;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);

    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-8px);

    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.service-card h3 {
    margin-bottom: 15px;
}

.service-card p {
    color: #64748b;

    font-size: 14px;

    margin-bottom: 20px;
}

.service-card a {
    color: #087ea4;

    font-weight: bold;

    font-size: 14px;
}


/* DEPARTMENTS */

.department-container {
    max-width: 1200px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.department-card {
    padding: 30px;

    border: 1px solid #dceef3;

    border-radius: 10px;

    transition: 0.3s;
}

.department-card:hover {
    background-color: #f1f9fc;

    transform: translateY(-6px);
}

.department-card h3 {
    margin-bottom: 12px;
}

.department-card p {
    color: #64748b;

    font-size: 14px;

    margin-bottom: 15px;
}

.department-card a {
    color: #087ea4;

    font-size: 14px;

    font-weight: bold;
}


/*  DOCTORS */

.doctors {
    background-color: #f1f9fc;
}

.doctor-container {
    max-width: 1200px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 25px;
}

.doctor-card {
    background-color: white;

    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

.doctor-card:hover {
    transform: translateY(-8px);
}

.doctor-card img {
    width: 100%;
    height: 300px;

    object-fit: cover;
}

.doctor-details {
    padding: 20px;
}

.doctor-details h3 {
    margin-bottom: 5px;
}

.doctor-details p {
    color: #64748b;

    margin-bottom: 10px;
}

.doctor-details a {
    color: #087ea4;

    font-size: 14px;

    font-weight: bold;
}


/*FACILITIES */

.facility-container {
    max-width: 1200px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.facility-card {
    border-radius: 10px;

    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

    background-color: white;

    transition: 0.3s;
}

.facility-card:hover {
    transform: translateY(-6px);
}

.facility-card img {
    width: 100%;
    height: 230px;

    object-fit: cover;
}

.facility-card h3 {
    padding: 18px 20px 5px;
}

.facility-card p {
    color: #64748b;

    padding: 0 20px 20px;

    font-size: 14px;
}


/*APPOINTMENT*/

.appointment {
    max-width: 1200px;

    margin: 50px auto;

    padding: 70px 50px;

    background-color: #eaf7fb;

    border-radius: 15px;

    display: flex;

    gap: 60px;

    align-items: center;
}

.appointment-content {
    flex: 1;
}

.appointment-content h2 {
    font-size: 38px;

    line-height: 1.2;

    margin-bottom: 20px;
}

.appointment-content h2 span {
    color: #087ea4;
}

.appointment-content p:last-child {
    color: #64748b;
}

.appointment-form {
    flex: 1;
}

.form-row {
    display: flex;

    gap: 15px;

    margin-bottom: 15px;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea {
    width: 100%;

    padding: 13px;

    border: 1px solid #d5e3e8;

    border-radius: 5px;

    font-family: Arial, Helvetica, sans-serif;

    outline: none;
}

.appointment-form input:focus,
.appointment-form select:focus,
.appointment-form textarea:focus {
    border-color: #087ea4;
}

.appointment-form textarea {
    height: 120px;

    resize: none;

    margin-bottom: 15px;
}

.appointment-form button {
    width: 100%;

    padding: 13px;

    border: none;

    border-radius: 5px;

    background-color: #087ea4;

    color: white;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.appointment-form button:hover {
    background-color: #05627f;
}


/*TESTIMONIALS */

.testimonials {
    background-color: #f1f9fc;
}

.testimonial-container {
    max-width: 1100px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.testimonial-card {
    background-color: white;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);

    transition: 0.3s;
}

.testimonial-card:hover {
    transform: translateY(-5px);
}

.testimonial-card p {
    color: #64748b;

    margin-bottom: 20px;
}

.testimonial-card h3 {
    margin-bottom: 3px;
}

.testimonial-card span {
    color: #087ea4;

    font-size: 14px;
}


/*CONTACT */

.contact-container {
    max-width: 1000px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.contact-card {
    text-align: center;

    padding: 30px;

    border: 1px solid #dceef3;

    border-radius: 10px;
}

.contact-card h3 {
    margin-bottom: 10px;
}

.contact-card p {
    color: #64748b;
}


/* FOOTER */

.footer {
    background-color: #17324d;

    color: white;

    padding: 60px 20px 20px;
}

.footer-container {
    max-width: 1200px;

    margin: auto;

    display: grid;

    grid-template-columns: 2fr 1fr 1fr 1fr;

    gap: 40px;
}

.footer-container h2 {
    margin-bottom: 15px;
}

.footer-container h3 {
    margin-bottom: 15px;
}

.footer-container p {
    color: #cbd5e1;

    font-size: 14px;

    margin-bottom: 8px;
}

.footer-links {
    display: flex;

    flex-direction: column;
}

.footer-container a {
    color: #cbd5e1;

    font-size: 14px;

    margin-bottom: 8px;

    transition: 0.3s;
}

.footer-container a:hover {
    color: white;
}

.footer-bottom {
    max-width: 1200px;

    margin: 40px auto 0;

    padding-top: 20px;

    border-top: 1px solid #385066;

    text-align: center;
}

.footer-bottom p {
    color: #cbd5e1;

    font-size: 13px;
}


/*TABLET */

@media (max-width: 900px) {

    .nav-links {
        gap: 12px;
    }

    .nav-links a {
        font-size: 13px;
    }

    .appointment-button {
        display: none;
    }

    .hero h1 {
        font-size: 45px;
    }

    .hero-image img {
        width: 380px;
        height: 450px;
    }

    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .doctor-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .department-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .facility-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .appointment {
        margin: 30px 20px;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* MOBILE */

@media (max-width: 600px) {

    .navbar {
        height: auto;

        padding: 18px 15px;

        flex-direction: column;

        gap: 15px;
    }

    .nav-links {
        width: 100%;

        justify-content: center;

        flex-wrap: wrap;

        gap: 12px;
    }

    .hero {
        padding: 50px 20px;

        flex-direction: column;

        text-align: center;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero-content > p:not(.small-heading) {
        font-size: 15px;
    }

    .hero-buttons {
        justify-content: center;

        flex-wrap: wrap;
    }

    .hospital-info {
        justify-content: center;

        gap: 25px;
    }

    .hero-image img {
        width: 100%;

        height: 400px;
    }

    .about {
        flex-direction: column;

        padding: 60px 20px;

        gap: 30px;
    }

    .about-image img {
        height: 300px;
    }

    .about-content h2 {
        font-size: 30px;
    }

    .service-container,
    .department-container,
    .doctor-container,
    .facility-container,
    .testimonial-container,
    .contact-container {
        grid-template-columns: 1fr;
    }

    .section-heading h2 {
        font-size: 30px;
    }

    .appointment {
        flex-direction: column;

        margin: 20px;

        padding: 40px 20px;
    }

    .form-row {
        flex-direction: column;
    }

    .footer-container {
        grid-template-columns: 1fr;

        text-align: center;
    }

}